/* general styles */

body {
    background: #0d0c18;
    color: white;
}

h1{
    text-align: center;
}

h1, h2 {
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-size: 2.5rem;
}

p, a, ul {
    font-family: 'Montserrat', sans-serif;
}

p, li {
    font-size: 1.2em;
}

p {
    text-align: justify;
}

#projects, #about, #waiut, #contact {
    border-radius: 25px;
    padding-top: 2em;
    padding-bottom: 3em;
    padding-left: 5em;
    padding-right: 5em;
    margin: 7em;
}

#projects h1, #about h1, #waiut h1{
    font-size: 4em;
}

.shadow {
    box-shadow: 5px 5px 10px 2px #e4588a;
}

/* intro */
#intro{
    margin-top: 13em;
    animation: fadeInAnimation ease 2s;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#intro h1{
    font-size: 8.5em;
}
#intro p{
    text-align: center;
    font-size: 2rem;
}
img{
    max-width: 100%;
    height: auto;
}

/* projects */
#projects h1{
    text-align: center;
}
#projects ul{
    font-size: medium;
    list-style-type: none;
    padding: 0;
}
#projects a{
    color:#e4588a;
}
#projects a:hover{
    color: #a385a7;
}
#projects a:visited{
    color: #e3d3e6;
}

#dx11-text p, #bgdh-text p, #audio-vis-text p, #switch-text p, #cat-cafe-text p, #personal-text p {
    float: right;
    padding-right: 1.5em;
}

#dx11{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
    margin-top: 3em;
}
#dx11-gif{
    grid-column: 1;
    width: 37em;
    height:37em;
}
#dx11-text{
    grid-column: 2;
}

#bgdh{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
    margin-top: 3em;
}
#bgdh-gif{
    grid-column: 1;
    width: 37em;
    height:37em;
}
#bgdh-text{
    grid-column: 2;
}

#audiovis{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
    margin-top: 3em;
}
#audio-vis-gif {
    grid-column: 1;
    height:37em;
}
#audio-vis-text {
    grid-column: 2;
} 

#switch{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
    margin-top: 3em;
}
#switch-gif{
    grid-column: 1;
    height:37em;
}
#switch-text{
    grid-column: 2;
}

#cat-cafe{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
    margin-top: 3em;
}
#cat-cafe-gif{
    grid-column: 1;
    height: 37em;
}
#cat-cafe-text{
    grid-column: 2;
}

#personal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
    margin-top: 3em;
}
#personal-gif{
    grid-column: 1;
    width: 37em;
    height:37em;
}
#personal-text{
    grid-column: 2;
}


/* skills */
#skills-list{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
#skills-section h1{
    text-align: center;  
}

#languages h2, #tools h2, #skills h2{
    text-align: center;
    flex-grow: 1;
    padding-left: 1.5em;
}
#languages ul, #tools ul, #skills ul{
    list-style-type: none;
    padding-left: 3.1em;
}

#languages
{
    text-align: center;
    flex-grow: 1;
}
#tools{
    text-align: center;  
    flex-grow: 1;
}
#skills{
    text-align: center;  
    flex-grow: 1;
}

#about-desc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
    margin-top: 3em;
}
#about-img {
    grid-column: 1;
}
#about-desc p {
    grid-column: 2;
}

/* waiut */
#waiut img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#waiut-content{
    display: flex;
    flex-direction: row;
}
#waiut h2{
    text-align: center;
}
#waiut-desc {
    text-align: center;
}
#waiut-content p{
    text-align: justify;
}
#graphics-engine{
    padding-right: 2em;
}
#unreal-learning{
    padding-left: 2em;
}

/* contact */
footer p{
    text-align: center;
    padding-left: 2em;
    font-size: x-large;
}
#contact-info{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
}

#contact-info li{
    padding: 1em;
}

/* media queries */
/* @media screen and (max-width: 400px) {

    #body{ 
        background: red;
    }
    #intro h1{
        font-size: 6.5em;
        text-align: center;
    }

    .proj{
        width: 100%;
    }

    #projects, #about, #waiut, #contact{
        padding: 0;
        margin: 0;
    }

    #projects p, #about p, #waiut p, #contact p{
        width: 110vw;
    }

    #dx11-gif, #bgdh-gif, #personal-gif {
        width:20em;
        height:20em;
    }

    #audio-vis-gif, #switch-gif, #cat-cafe-gif{
        max-width: 100em!important;
        height: 30em; 
    }
} */

@media screen and (max-width: 414px) {

    /* resetting styles (from https://www.joshwcomeau.com/css/custom-css-reset/) */
   /*
    1. Use a more-intuitive box-sizing model.
    */
    *, *::before, *::after {
        box-sizing: border-box;
    }
    /*
        2. Remove default margin
    */
    * {
        margin: 0;
    }
    /*
        Typographic tweaks!
        3. Add accessible line-height
        4. Improve text rendering
    */
    body {
        line-height: 1.5;
        -webkit-font-smoothing: antialiased;
    }
    /*
        5. Improve media defaults
    */
    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }
    /*
        6. Remove built-in form typography styles
    */
    input, button, textarea, select {
        font: inherit;
    }
    /*
        7. Avoid text overflows
    */
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }
    /*
        8. Create a root stacking context
    */
    #root, #__next {
        isolation: isolate;
    }

    html {
        height: 100vh;
    }

    body {
        width: 100%;
        height: 100%;
    }

    #navbar {
        width: 100%;
        font-size: .7em;
    }

    #intro h1{
        font-size: 4.5em;
        margin: 0 auto;
    }

    #projects h1, #about h1, #waiut h1 {
        font-size: 3em;
    }

    #projects {
        margin: 0 auto;
        padding: 0;
    }

    .proj {
        display: grid;
        
    }
  }